/* You can add global styles to this file, and also import other style files */
div.form-group.required>label:first-child:after{
  content: '*';
  color: #dc3545;
  padding-left: 5px;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.list-group a.list-group-item-action.click {

  background: red;
}

input.ng-touched.ng-invalid{
  border-color: #dc3545;
}

input.ng-valid{
  border-color: #28a745;
}

.green-icon{
  color: #28a745;
}
.red-icon{
  color: #dc3545;
}
.input-group-text-invalid {
  border: 1px solid #dc3545;
 
}
.input-group-text-valid {
  border: 1px solid #28a745;
 
}
.one{
  text-align: center;
}
.one button{
  margin: 0 2em 0 2em;
}
.spinner-border-button{
  width: 1.5rem; height: 1.5rem;
  margin-right: 0.2rem;
  border-width: .1em;
}
.spinner-border-table {
  width: 3rem; height: 3rem;
}

.button-modal-footer.modal-footer>:not(:last-child) {
  margin-right:3rem!important;
}
html, body {
  height: 100%;
}
body {
  background-color: 	#f1f1f1;
}



caption{
   
   caption-side: top;
   text-align: left;
   padding: 12px 15px 12px 15px;
   background-color: rgb(33, 150, 243);
   color: #fff;
   font-weight: 600;
   font-family: 'lato';
   letter-spacing: 0.05em;
   font-size: 1.3rem;
  
   margin-bottom: 0;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   border: 1px solid #dee2e6;
   border-bottom: none;
  
}

.dataTables_filter{
    right:10px;
    
    position: absolute;
    z-index: 1;
    color: #fff;
    padding-top:0.8rem;
}
.dataTables_length {
  padding-top:0.8rem;
  right:280px;
  
  position: absolute;
  z-index: 1;
  color: #fff;
}


.dataTables_wrapper {
  position: relative;
}
.dataTables_wrapper th {
  color:rgb(33, 150, 243);
 border-top: none;
}

.dataTables_wrapper th.sorting_asc, .dataTables_wrapper th .sorting_desc{
  color: #fff;
  background-color:#4dabf5;
}
.dataTables_wrapper .table {
  border-top: none!important;
}


