/* You can add global styles to this file, and also import other style files */
div.form-group.required>label:first-child:after{
  content: '*';
  color: #dc3545;
  padding-left: 5px;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: 	#f1f1f1;
}

.list-group a.list-group-item-action.click {

  background: red;
}

input.ng-touched.ng-invalid{
  border-color: #dc3545;
}

input.ng-dirty.ng-valid{
  border-color: #28a745;
}

.green-icon{
  color: #28a745;
}
.red-icon{
  color: #dc3545;
}
.input-group-text-invalid {
  border: 1px solid #dc3545;
 
}
.input-group-text-valid {
  border: 1px solid #28a745;
 
}
.one{
  text-align: center;
}
.one button{
  margin: 0 2em 0 2em;
}
.spinner-border-button{
  width: 1.5rem; height: 1.5rem;
  margin-right: 0.2rem;
  border-width: .1em;
}
.spinner-border-table {
  width: 3rem; height: 3rem;
}

.button-modal-footer.modal-footer>:not(:last-child) {
  margin-right:3rem!important;
}
html, body {
  height: 100%;
}
.invalid {
  border-color: #dc3545;

}
caption{
   
   caption-side: top;
   text-align: left;
   padding: 12px 15px 12px 15px;
   background-color: rgb(33, 150, 243);
   color: #fff;
   font-weight: 600;
   font-family: 'lato';
   letter-spacing: 0.05em;
   font-size: 1.3rem;
  
   margin-bottom: 0;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   border: 1px solid #dee2e6;
   border-bottom: none;
  
}

.dataTables_filter{
    right:10px;
    
    position: absolute;
    z-index: 1;
    color: #fff;
    padding-top:0.8rem;
}
.dataTables_length {
  padding-top:0.8rem;
  right:280px;
  
  position: absolute;
  z-index: 1;
  color: #fff;
}


.dataTables_wrapper {
  position: relative;
}
.dataTables_wrapper th {
  color:rgb(33, 150, 243);
 border-top: none;
}

.dataTables_wrapper th.sorting_asc, .dataTables_wrapper th .sorting_desc{
  color: #fff;
  background-color:#4dabf5;
}
.dataTables_wrapper .table {
  border-top: none!important;
}


.container {
    max-width: 100%;;
}
#header-main-card{
  background-color: rgb(33, 150, 243);
  color: #fff;
  font-weight: 500;
  font-family: 'lato';
  letter-spacing: 0.05em;
  font-size: 1.2rem;
}
.card-header {
  font-weight: 400;
  font-family: 'lato';
  letter-spacing: 0.05em;
  font-size: 0.95rem;
}
.card-footer{
  padding: .65rem 1rem!important;
}
.card-header > i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #7a7a7a;
}
.col-card-body,.col-card-body .form-control{
  font-size: 0.9rem;
}
.col-card-body {
  padding: 0 5px 0 5px!important;
 
}
.button-navigation {
  list-style: none;
  padding:0;
}
.button-navigation li {
  display: inline;
  margin-right: 1rem;
 
}
.button-navigation li a{
  color: #141414;
  font: 'lato','sans-serif';
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
}
.button-navigation li a:hover, .button-navigation li a.active{
  text-decoration: none;
  background-color:  rgb(33, 150, 243);
  color: #e7eff4;
}
.button-navigation .button {
  background-color: #efefef;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.35rem 0.55rem;
  
 
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.required-field{
  color:red;

}

#client-table th, #vehicle-table th{
  font-size: 1rem;
}
#client-table td, #vehicle-table td{
  font-size: 0.95rem;
}
#client-table tbody tr :hover, #vehicle-table  tbody tr :hover{
  cursor: pointer;
  color:rgb(33, 150, 243);
}
.info-details{
  background-color: #fff;
  margin-top:1rem;
  padding: 1rem;
  font-size: 0.9rem;
  font-family: 'lato';
  font-weight: 600; 
  border-radius: 5px;
}

.name-head i{
  font-size: 1.1rem;
  margin-right: 0.2rem;
}
.badge{
  background-color: #a6acb1;
}
.name-head .fa-edit{
  color:rgb(33, 150, 243);
  font-size: 1.1rem;
  margin-left: 0.2rem;
}
.name-head i.fa-edit:hover{
  cursor: pointer;
  color:#0C7FD8;
}
.info-details .row{
  margin-bottom: 0.5rem;
}
.info-details  label {
  margin-right: 0.4rem;
  font-weight: 500;
}
.close-select{

  cursor: pointer;
  margin: auto 0 auto 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}
#vehicle-table {
  margin-top: 2rem!important;
}
.client-data {
  padding-left: 1.3rem;
  font-size: 16px;
}
.client-data .form-group div {
  margin-right: 1.1rem;
}
.client-data .form-group {
  margin-bottom: 0.1rem;
}
#card-vehicle {
  min-height: 8.3rem;

}
#card-vehicle .client-data{
  margin-top: 1.4rem;
}
.table-details {
  margin-top: 3rem;
}
.table-details .nav-pills .nav-link.active{

  background-color: rgb(33, 150, 243);
}
.table-details{
  background-color: #fff;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 5px;
}
.management-button  .btn:hover, .management-button  .btn i:hover {
  color: #fff!important;
}

.management-button button {
margin: 0.3rem;
}