<div class="modal-header">
  <h5 class='col-12 modal-title text-center'>
    Usuń użytkownika
    <button type='button' class='close' (click)="close()" aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </h5>
</div>

<div class="modal-body">
  <p class="text-center">Czy napewno chcesz usunąć użytkownika <span class="font-weight-bold">{{userName}}</span></p>

</div>

<div class="modal-footer button-modal-footer justify-content-center">
  <button type="button" class="p-2 btn btn-outline-dark" style="width:20%" (click)="close()">Anuluj</button>
  <button type="button" class="p-2 btn btn-outline-danger" style="width:20%"
    (click)="deleteUserConfirmation(userToDelete.id)">
    <span class="spinner-border spinner-border-button" role="status" aria-hidden="true" *ngIf="showSpinner"></span>
    Usuń
  </button>
</div>