#userTable .fa-user-edit, .fa-user-times:hover{
    cursor:pointer;
}
#userTable .fa-user-times {
    color:#C21807;
}
#userTable .fa-user-edit {
    color:#0E4D92;

}
#user-table-container{ 
    margin-top: 2em;
}
#addUserSection{
    margin-bottom: 2em;
   
}
#userTable{
    margin-right: 122em;
}

.fa-disabled {
    opacity: 0.6;
    pointer-events: none;
    
  }
.fa-disabled i:hover {
    cursor: not-allowed!important;
  }

