<div class="col-md-7">

  <form [formGroup]="service.formModel" (submit)="onSubmit()">
    <div class="form-group required">
      <label for="formGroupExampleInput">Nazwa użytkownika</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"
        formControlName="UserName">
        <span class="text-danger"
          *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Nazwa użytkownika jest wymagana <br>
          </span>
    </div>

    <div formGroupName="Passwords">
      <div class="form-group required">
        <label for="exampleInputPassword1">Hasło</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          formControlName="Password">
        <span class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Hasło jest wymagane <br>
          </span>
        <span class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Hasło musi zawierać minimum 6 znaków <br>
          </span>
          <span class="text-danger"
          *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.errorText">Hasło musi zawierać co najmniej jedną małą oraz dużą literę oraz znak specjalny
          </span>

      </div>
      <div class="form-group required">
        <label for="exampleInputPassword1">Confirm password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
          formControlName="ConfirmPassword">
        <span class="text-danger"
          *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">
          Password is required</span>
        <span class="text-danger"
          *ngIf="service.formModel.get('Passwords.ConfirmPassword').dirty && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
          Password is not equal</span>

      </div>
    </div>

    <button type="submit" [disabled]="service.formModel.invalid" class="btn btn-primary">Submit</button>
  </form>
</div>
