<div class="modal-header">
  <h5 class='col-12 modal-title text-center'>
    {{modalHeader}}
    <button type='button' class='close' (click)="close()" aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </h5>
</div>




<div class="modal-body">



  <form [formGroup]="service.formModel" (submit)="onSubmit()">

    <div class="form-group row">
      <label for="modelYear" class="col-sm-3 col-form-label">Rocznik <span class="required-field">*</span></label>
      <div class="col-sm-8">
        <div class="row">
          <span id="modelYear">
            <select class="form-control" formControlName="modelYear" (blur)="validatorMessage()" id="year"
             >
              <option value="" selected disabled hidden>Wybierz rocznik pojadu</option>
              <option *ngFor="let item of year" [value]="item">
                {{item}}
              </option>
            </select>
          </span>
          <input type="text" class="form-control d-none col-sm-10" id="modelYear" formControlName="modelYear"
            (blur)="validatorMessage()">
          <span class="close-select" ngbTooltip="Dodaj inny rocznik" (click)="showInput('#modelYear', '#year')">x
          </span>
        </div>
        <span class="text-danger" *ngIf="service.formErrors.modelYear">
          {{service.formErrors.modelYear}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="brand" class="col-sm-3 col-form-label">Marka <span class="required-field">*</span></label>
      <div class="col-sm-8">
        <div class="row">
          <span id="brand">
            <select class="form-control" id="select-brand" formControlName="brand"  (change)="getModelForBrand($event.target.value)">
              <option value="" selected disabled hidden>Wybierz markę pojazdu</option>

              <option *ngFor="let brand of brands" [value]="brand.name">
                {{brand.name}}
              </option>
            </select>
          </span>
          <input type="text" class="form-control d-none col-sm-10" id="brand" formControlName="brand"
            (blur)="validatorMessage()">
          <span class="close-select" ngbTooltip="Dodaj inną markę" (click)="showInput('#brand', '#select-brand')">x
          </span>
        </div>
        <span class="text-danger" *ngIf="service.formErrors.brand">
          {{service.formErrors.brand}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="model" class="col-sm-3 col-form-label">Model <span class="required-field">*</span></label>
      <div class="col-sm-8">
        <div class="row">
          <span id="model">

            <select class="form-control" id="model-type" formControlName="model">
              <option value="" selected disabled hidden>Wybierz model pojazdu</option>
              <option *ngFor="let item of models" [value]="item.name">
                {{item.name}}
              </option>
            </select>
          </span>
          <input type="text" class="form-control d-none col-sm-10" id="model" formControlName="model"
            (blur)="validatorMessage()">
          <span class="close-select" ngbTooltip="Dodaj inny model" (click)="showInput('#model','#model-type')">x
          </span>
        </div>
        <span class="text-danger" *ngIf="service.formErrors.model">
          {{service.formErrors.model}}
        </span>
      </div>
    </div>


    <div class="form-group row">
      <label for="registration" class="col-sm-3 col-form-label">Rejestracja<span class="required-field">*</span></label>
      <div class="col-sm-8">
        <input type="text" class="form-control  col-sm-10" id="registration" formControlName="registration"
          (blur)="validatorMessage()">
        <span class="text-danger" *ngIf="service.formErrors.registration">
          {{service.formErrors.registration}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="vin" class="col-sm-3 col-form-label">Numer VIN</label>
      <div class="col-sm-8">
        <input type="text" class="form-control  col-sm-10" id="registration" formControlName="vin"
          (blur)="validatorMessage()">
        <span class="text-danger" *ngIf="service.formErrors.vin">
          {{service.formErrors.registration}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="colour" class="col-sm-3 col-form-label">Kolor</label>
      <div class="col-sm-8">
        <input type="text" class="form-control  col-sm-10" id="colour" formControlName="colour"
          (blur)="validatorMessage()">
        <span class="text-danger" *ngIf="service.formErrors.colour">
          {{service.formErrors.colour}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="fuel" class="col-sm-3 col-form-label">Paliwo </label>
      <div class="col-sm-8">
        <div class="row">
            <select class="form-control col-sm-10" formControlName="fuel">
              <option value="" selected disabled hidden>Wybierz rodzaj paliwa</option>
              <option *ngFor="let fuel of typesOfFuel" [value]="fuel.typeOfFuel">
                {{fuel.typeOfFuel}}
              </option>
            </select>     
        </div>
        <span class="text-danger" *ngIf="service.formErrors.fuel">
          {{service.formErrors.fuel}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="mileAge" class="col-sm-3 col-form-label">Przebieg </label>
      <div class="col-sm-8">
        <input type="text" class="form-control  col-sm-10" id="mileAge" formControlName="mileAge"
          (blur)="validatorMessage()">
        <span class="text-danger" *ngIf="service.formErrors.mileAge">
          {{service.formErrors.mileAge}}
        </span>
      </div>
    </div>

    
    <div class="form-group row">
      <label for="power" class="col-sm-3 col-form-label">Moc silnika (kW)</label>
      <div class="col-sm-8">
        <input type="text" class="form-control  col-sm-10" id="power" formControlName="power"
          (blur)="validatorMessage()">
        <span class="text-danger" *ngIf="service.formErrors.power">
          {{service.formErrors.power}}
        </span>
      </div>
    </div>

    <div class="form-group row">
      <label for="displacementCapacity" class="col-sm-3 col-form-label">Poj. silnika (ccm<sup>3</sup>)</label>
      <div class="col-sm-8">
        <input type="text" class="form-control  col-sm-10" id="displacementCapacity" formControlName="displacementCapacity"
          (blur)="validatorMessage()">
        <span class="text-danger" *ngIf="service.formErrors.displacementCapacity">
          {{service.formErrors.displacementCapacity}}
        </span>
      </div>
    </div>


    <div class="modal-footer button-modal-footer justify-content-center">
      <button type="button" class="p-2 btn btn-outline-dark" style="width:20%" (click)="close()">Anuluj</button>
      <button type="button" class="p-2 btn btn-outline-success" style="width:22%" [disabled]="!service.formModel.valid"
        type="submit">
        <span class="spinner-border spinner-border-button" role="status" aria-hidden="true" *ngIf="showSpinner"></span>
        Dodaj
      </button>
    </div>
  </form>
</div>