
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center ">
        <div class="col-lg-6">
            <h5 class="text-center p-5">Twoje hasło zostało zmienione. Użyj nowych danych aby się zalogować.</h5>
            <div class="col-lg-6 offset-3" >
                <a class="btn btn-outline-primary btn-block" href="http://localhost:4200/login">Zaloguj się</a>
            </div>
        </div>
    </div>
</div>