<div class="container  login-container">
  <div class="login-header">
    <span>Zaloguj się</span>
  </div>
  <div class="row  justify-content-center ">

    <form #form='ngForm' class="col-md-4" (submit)="onSubmit(form)" autocomplete="off">
      <div class=" login-form">
        <div class="form-group">
          <label>Nazwa użytkownika</label>
          <input class="form-control" #userName="ngModel" name="userName" [(ngModel)]="formModel.userName" required>
        </div>
        <div class="form-group">
            <label for="res-add-1">
                <div class="d-flex justify-content-between" >
                    <div>Hasło</div>
                    <div id="forgot-password" (click)="open(reset)">Zapomniałem hasła</div>
                </div>
            </label>
          <input type="password" class="form-control" #password="ngModel" name="password"
            [(ngModel)]="formModel.password" required>
        </div>


        <button type="submit" class="btn  btn-outline-primary btn-block" [disabled]="form.invalid">
          <span class="spinner-border spinner-border-button" role="status" aria-hidden="true"
            *ngIf="showSpinner"></span>
          Login</button>
        

      </div>
    </form>

  </div>
</div>
<ng-template #reset let-modal>
    <app-reset-password></app-reset-password>
  </ng-template>