<div class="modal-header">
    <h5 class='col-12 modal-title text-center'>
        Resetuj hasło
        <button type='button' class='close' (click)="close()"aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </h5>
  </div>
  
  <div class="modal-body">
    <p class="text-center">Odzyskiwanie hasła jest możliwe tylko dla administratora. Po kliknięciu przycisku resetuj na mail administratora zostanie wysłany link do resetowania hasła.</p>
  
  </div>
  
  <div class="modal-footer button-modal-footer justify-content-center">
      <button type="button" class="p-2 btn btn-outline-dark" style="width:20%" (click)="close()">Anuluj</button>
      <button type="button" class="p-2 btn btn-outline-success" style="width:25%" (click)=resetPassword()>
        <span class="spinner-border spinner-border-button" role="status" aria-hidden="true" *ngIf="showSpinner"></span>
        Resetuj 
      </button>
  </div>