<!--<nav class="navbar navbar-dark bg-primary">
  <a href="" class="navbar-brand text-white">Car repair system</a>
  <span class="text-white" *ngIf="user">Witaj: {{user.userName}}</span>

</nav>-->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><span>Twój</span> warsztat </div>
    <div class="list-group list-group-flush">
      <a routerLink="/dodaj-zlecenie" class="list-group-item list-group-item-action" id="first-nav-element"
        routerLinkActive="active">
        <i class="fas fa-plus"></i><span>Dodaj zlecenie</span></a>

      <a routerLink="/naprawy/aktualne-naprawy" class="list-group-item list-group-item-action " routerLinkActive="active">
        <i class="fas fa-tools"></i><span>Warsztat</span></a>
        
      

        <a routerLink="/klienci" class="list-group-item list-group-item-action"
          routerLinkActive="active">
          <i class="fas fa-users"></i><span>Klienci</span></a>


      <a routerLink="/pojazdy" class="list-group-item list-group-item-action " routerLinkActive="active">
        <i class="fas fa-car"></i><span>Pojazdy</span></a>

      <div *ngIf="userRole">
        <a routerLink="/panel-administracyjny" class="list-group-item list-group-item-action "
          routerLinkActive="active">
          <i class="fas fa-user-shield"></i><span>Panel administracyjny</span></a>
      </div>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light  border-bottom" id="main-navbar">
      <!--<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">

          <li class="nav-item">
            <span *ngIf="user">Witaj &nbsp; {{user.userName}}</span>
          </li>
          <li class="nav-item" id="singout">
            <i class="fas fa-sign-out-alt" (click)="onLogout()"></i>
          </li>


        </ul>
      </div>
    </nav>

    <div class="container" id="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>