<div class="container">
  <ul class="button-navigation">
     <li>
         <a routerLink="/naprawy/aktualne-naprawy" routerLinkActive="active" class="button">Aktualne naprawy</a>
     </li>
     <li>
         <a routerLink="/naprawy/ukonczone-naprawy" routerLinkActive="active" class="button">Ukończone naprawy</a>
     </li>
     <li>
       <a routerLink="/naprawy/wszystkie-naprawy" routerLinkActive="active" class="button">Wszystkie naprawy</a>
     </li>
   </ul>
   <router-outlet></router-outlet>
 </div>